.container {
  backdrop-filter: saturate(180%) blur(5px);
  box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  color: white;
  height: 64px;
  z-index: 2;
}

.innerContainer {
  width: 1200px;
  max-width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.titleContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  margin: 0px 15px;
}

.repoLink {
  cursor: pointer;
}

.repoLink:hover {
  text-decoration: underline;
}
